<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museos CABA</title>
    {% load static %}
    <link rel="icon" href={% static 'core/assets/home/museo.png'%} type="image/x-icon">
    <link rel="stylesheet" type="text/css" href={% static 'core/styles.css'%}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h1 class="titulo">GUIA EXPRESS MUSEOS BUENOS AIRES</h1>
        </div>
        <nav>
            <img class="logo" src={% static 'core/assets/home/Logo_redondeado.jpg'%}>
            <ul>
                <li><a href="{% url 'home' %}">Inicio - </a></li>
                <li class="dropdown"> Museos -
                    <div class="dropdown-content">
                        <a href="{% url 'arte'%}">Arte</a>
                        <a href="{% url 'historia'%}">Historia</a>
                        <a href="{% url 'ciencias'%}">Ciencias</a>
                        <a href="{% url 'tematicos'%}">Temáticos</a>
                        <a href="{% url 'otros'%}">Otros</a>
                    </div>
                </li>
                <li><a href="/contacto">Contacto - </a></li>
                <li><a href="/nosotros">Nosotros</a></li>
            </ul>
        </nav>
    </header>

    {%block content %}{% endblock %}
</body>

</html>