{%extends 'core/base.html'%}
{% load static %}
{% block title %}Contacto{% endblock %}
{% block header %}<h1 class="titulo">Contacto</h1>{% endblock %}

{%block content%}

<h1 class="titulo2">Dejanos conocer tu opinión</h1>

<form action="https://formspree.io/f/mgejdqbl" method="POST" onsubmit="return validarFormulario(event)">
    <p>Nombre:</p>
    <input type="text" class="field" id="Nombre" name="Nombre" placeholder="Nombre y Apellido">

    <p>Correo electrónico:</p>
    <input type="text" class="field" id="mail" name="Correo" placeholder="correo@correo.com">

    <p>Edad:</p>
    <input type="text" class="field" id="Edad" name="Edad" placeholder="Edad">

    <p>Número de teléfono:</p>
    <input type="text" class="field" id="Telefono" name="Telefono" placeholder="Número de teléfono">

    <p>Mensaje:</p>
    <textarea class="field" id="Mensaje" name="Mensaje" placeholder="Dejanos un mensaje!"></textarea>

    <p class="center-content">
        <input type="submit" class="btn btn-green" value="Enviar Datos">
    </p>
    <div id="error-message" class="error-message" style="display: none;">Por favor, complete todos los campos correctamente.</div>
</form>
{% endblock %}