{%extends 'core/base.html'%}
{% block title %}Sobre Nosotros{% endblock %}
{% block header %}<h1 class="titulo">Nosotros</h1>{% endblock %}

{%block content%}
{% load static %}
    <section>
        <div class="cajaTemas">
            <h1 class="titulo2">Descubre el Equipo detrás de la GUIA MUSEOS DE BUENOS AIRES</h1>
            <h3>Apasionados por la Historia Viva y Pasada de Buenos Aires y el Futuro de la Programación</h3>
            <p> Somos un grupo de cuatro estudiantes apasionados por la cultura y que estan desarrollando su proyecto
                dentro del Programa Codo a Codo, que entrena en las artes de la programación y sus distintos lenguajes.
                Como residentes de la hermosa ciudad de Buenos Aires, queremos mostrar su riqueza cultural a través de la tecnología
            </p>
        </div>
    </section>
 
       
    <main>
        <section class="contenedorNosotros">
            <div class="museo">
                <img src="{% static 'core/assets/nosotros/AvatarGuille.jpg' %}" alt="Avatar Guille" width="100%">
                <h4>Guillermo Ricardo Bonaudo</h4><br>
                <p>"Creemos que el mundo del futuro ya está aquí, y la tecnología es nuestra herramienta para explorarlo"        
                </p><br><br>
            </div>

            <div class="museo">
                <img src="{% static 'core/assets/nosotros/CaroAvatar.png' %}" alt="Avatar Caro" width="100%">
                <h4>Carolina Inés Fuentes</h4><br>
                <p>"Estamos trabajando en un hermoso proyecto: una página web de museos que te llevará a un viaje cultural a traves de la tecnología".
                </p><br><br>
            </div>

            <div class="museo">
                <img src="{% static 'core/assets/nosotros/RafaAvatar.jpg' %}" alt="Avatar Rafa" width="100%">
                <h4>Rafael Alberto Cardozo Blanco</h4><br>
                <p>"La programación es nuestra pasión y estamos emocionados por aprender y aplicarla"
                </p><br><br>
            </div>
           
            <div class="museo">
                    <img src="{% static 'core/assets/nosotros/SantiAvatar.png' %}" alt="Avatar Santi" width="100%">
                    <h4>Santiago Torti</h4><br>
                    <p>"Nuestra visión es hacer que la cultura sea accesible para todos, en cualquier momento y en cualquier lugar"
                    </p><br><br>    
               
            </div>
        </section>   
{% endblock %}