*{
    box-sizing: border-box;
    margin:0px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.titulo{
    font-size: 23px;
    padding-left: 25rem;
    padding-bottom: 1rem;
    padding-top:1rem;
    border-top: solid 3px #3d403b;
}

/*----Barra de navegación----*/
nav{
    background-color:#d8e8eb;
    border-top: solid 2px #3d403b;
    border-bottom: solid 3px#3d403b;  
    padding: 20px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    background-color: #f5f5f5; 
}

nav li{
    margin:5px;
    font-size: 22px;
}

li a{    
    color: black;
    text-decoration: none;
}

.dropdown{
    display:inline-block;
    position:relative;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown-content{
    display: none;
    position:absolute;
    width: 100%;
    overflow: auto;
    background-color: #d8e8eb;
    padding: 30px, 10px;
    border-bottom: solid 3px#3d403b;
    opacity: 0.9;  
}

.dropdown-content a{
    display:block;
    color:#000;
    padding:5px;
    text-decoration: none;
    font-size: 18px;
}

.logo{
    position: absolute;
    top: 4rem; 
    left: 5rem; 
    z-index: 0rem; 
    width: 10rem;
    border: solid 1px black;
}

/*-----Main ------ */

.cajaObelisco {
    background-image: url('./assets/home/obelisco.jpg');
    background-size: cover;
    background-position: center;   
    font-family: 'Roboto', sans-serif;
    height: 460px;
    text-align: center;
    box-sizing: border-box;
}

.titulo-guia{
    color: white;
    padding-top: 28px; 
    font-weight: bold;
    font-size: 35px;
}

.cajaPrincipal {
    font-family: 'Roboto', sans-serif;
    color: #1f2950;
    width: 100%;
    height: 350px;
    max-width: 100%; 
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ef6e1e; 
}

.titulo2{
    text-align: center;
    padding: 10px 1px 3px 1px;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 34px; 
}

.cajaPrincipal p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6; 
    margin: 40px 70px 40px 70px;
    font-weight: bolder;
}

.cajaTemas{
    font-family: "Roboto", sans-serif;
    color: #1f2950;
    width: 100%;
    max-height: 30%;
    max-width: 100%; 
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 5px;
    line-height: 1.6; 
}

.contenedorMuseos{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 30px;
        }
    
    .cajamuseo{  
        box-sizing: border-box;
        width: 280px;
        max-height: 250px;
        margin: 10px 2px 2px 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: solid #1a1b1a;
        border-radius:5%;
    }

    .fotoarte{
        background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./Assets/ArteArteArte.jpg);
        background-size: cover;
        background-position: center;
    }

    .fotociencia{
        background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/lamparita.jpg);
        background-size: cover;
        background-position: center;
    }

    .fotohistoria{
            background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/historia.jpeg);
            background-size: cover;
            background-position: center;
    }
    
    .fototematico{
                background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/tematicos.jpeg);
                background-size: cover;
                background-position: center;
    }


    .museo-nombre{
        color: #f5f5f5;
        font-family: 'AR One Sans', sans-serif;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
    }

/*Footer*/
.pie{
    background-color: #494b47;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.redes a{
    margin: 10px;
}

/*Styles Museos*/

.nombre-museo{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
}

h3{
    margin: 30px;
}

h4{
    margin-top: 15px;
    margin-bottom: 15px;
}

.containerarte{

width: 100%;
height: 100%;
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
background-color:rgb(248, 250, 252);
padding: 10px;
color: #1f2950;
}

.cajaArte{
    width: 33%;
    height: 33%;
    padding: 10px;
    text-align: center;   
    border: 2px solid #ef6e1e;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.subtitulo{
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.cajaArte img{
    
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px; 
    border: 2px solid #1f2950;  
}

.cajaArte img {  
    width: 100%;
    height: 100%;
    transition: all 750ms ease-out;
}

.cajaArte img:hover{
    transform: scale(110%);
}

.museo{
    width: 33%;
    height: 33%;
    padding: 10px;
    text-align: center;
    
}

.museo img{
    border-radius: 10px;    
}

.maps{
    display: grid;
    grid-template-columns: 33% 33% 33%;  
}

.maps h4{
    position: relative;
    grid-column-start: 1;
}

.maps iframe{
    position: relative;
grid-column-start: 1;
    padding: 10px;
    width:100%;    
}

.maps p{
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 10px;
}

.otrosMuseos a{
    text-decoration: none ;
    color: white;
}

.otrosMuseos a{
    text-decoration: none ;
    color: white;
}

.contenedorNosotros{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/*Responsive*/

@media screen and (min-width:340px) and (max-width:850px){

.cajaArte{

    width: 50%;
    height: 50%;
    padding: 10px;
    text-align: center;   
    border: 2px solid #ef6e1e;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
nav li{
    margin:5px;
    font-size: 15px;
    text-align: center;
}

.dropdown-content a{
    display:block;
    color:#000;
    padding:5px;
    text-decoration: none;
    font-size: 11px;
}

.logo{
    visibility: hidden;
       }
       
.titulo{
    font-size: 20px;
    padding-left: 12rem;
    padding-bottom: 1rem;
    padding-top:1rem;
    border-top: solid 3px #3d403b;
    }
    .museo{
        width: 50%;
        height: 50%;
        padding: 10px;  
              }  
    .maps{
        display: grid;
        grid-template-columns: 50% 50%;  
            }
            
    .maps h4{
        position: relative;
        grid-column-start: 1;
        padding-left: 150px;
            }
            
    .maps iframe{
        position: relative;
        grid-column-start: 1;
        padding: 10px;
                
            }
            
    .maps p{
        grid-column-start: 2;
        margin-bottom: 10px;
            }
}

@media screen and (max-width:640px){

    .cajaArte{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;   
    border: 2px solid #ef6e1e;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
          }

    .logo{
        opacity: 0;
        }
    
    .titulo{
        font-size: 18px;
        padding-left: 10rem;
        padding-bottom: 1rem;
        padding-top:1rem;
        border-top: solid 3px #3d403b;
        }
    .museo{
        width: 100%;
        height: 100%;
        padding: 10px;
        text-align: center;   
            }
    .maps{
        display: grid;
            }
                    
    .maps h4{
        position: relative;
        grid-row-start: 1;
        padding-left: 10rem;
            }
                    
    .maps iframe{
        position: relative;
        grid-row-start: 1;
        padding-top: 50px;
                        
            }
    .maps p{
        
        margin-bottom: 10px;    
            }

            .contenedorNosotros{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-flow: row wrap;
                margin: 5px;
            }
}




/*FORMULARIO*/

form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

input, textarea{
    border: 0;
    outline: none;

    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;

    
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    text-align: center;
} 


.error-message {
    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    animation: titilar 1s infinite;
    border: 2px solid transparent;
    transition: border 0.5s;
}

@keyframes titilar {
    0% {
        box-shadow: 0 0 5px red;
    }
    100% {
        box-shadow: none;
    }
}
 
.horarios{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 10;
      /*  margin-top: auto;*/
        padding-left: 35px;
        padding-top: 15px;
    }

